
body {
 background-color:#87d8de;
 color:rgb(172, 252, 188);
}

header{
 color:rgb(178, 129, 233);
 padding:50px;
 text-align: center;
 margin: 15px;
 border-radius: 20px;
 backdrop-filter: blur(12px);
 box-shadow: 0 8px 25px rgba(15, 2, 111, 0.5);
 background-image: url(image/t20.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

header h1{
 font-size: 60px;
 font-weight: bold;
 color:#9f87ff;
 text-shadow: 6px 6px 15px rgba(6, 6, 6, 0.8);
 font-family: fantasy;
}

.nav-bar{
 overflow: hidden;
 background-color:#707fcc;
 background:linear-gradient(120deg, #505466, #1500ff);
 backdrop-filter: blur(10px);
 background: rgbe(255,255,0.2);
 padding: 15px;
 border-radius: 12px;
 margin: 10px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 15);
}

.nav-bar ul{
 display: flex;
 justify-content:right;
  gap: 35px;
 list-style: none;
}

.nav-bar a{
 float: right;
 display: block;
 color: #ffffff;
 text-align: center;
 padding: 20px;
 text-decoration: none;
 font-size:25px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;	
 transition: 0.3s;
 border-radius: 10px;
}

.nav-bar a:hover{
 background:linear-gradient(160deg, #c469f9, #40006a);
 transform: scale(1.1);
 color:#d6d6d6;
}

.box{
 background-image: url(image/t15.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 border-radius: 20px;
 padding: 55px;
 border-radius: 15px;
 transition: 0.3s;
 box-shadow: 0 4px 25px rgba(163, 255, 237, 0.3);
}

.container {
 display : flex;
 flex-wrap: wrap;
 gap :30px;
 justify-content: space-around;
}

.card {
 width : 260px;
 background-color:rgb(0, 140, 255);
 padding: 10px;
 border-radius: 15px;
 box-shadow: 5px 10px 20px #000000;
 transition: 1s;
 text-align : center;
 cursor: pointer;
 background-image: url(image/t12.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

.card:hover{
 box-shadow: 8px 8px 5px #ffcf5f;
 background-image: url(image/t17.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

.card h3{
 margin-bottom: 10px;
 color:rgb(255, 255, 255);
 font-size: 20px;
 font-weight: bold;
}

.card p{
 font-size: 15px;
 font-weight: bold;
 color:rgb(252, 235, 235);
 line-height: 1.7;
}

.card img{
 display: block;
 width: 230px;
 height: 260px;
 margin: 0 auto;
 border-radius: 10px;                        
 border-radius: 10px;
 display: block;
 object-fit:cover;
 margin-bottom: 10px;
 box-shadow: 5px 5px 25px rgba(0,0,0,1);
 transition: transfrom 0.3s ease, box-shadow 0.3s ease;
}



